@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face{font-family:"BYekan";
    src:url(../../fonts/BYekan.eot);
    src:url(../../fonts/BYekan.eot?#iefix) format("embedded-opentype"),
    url(../../fonts/BYekan.woff) format("woff"),
    url(../../fonts/BYekan.ttf) format("truetype"),
    url(../../fonts/BYekan.svg) format("svg");
    font-weight:400;
    font-style:normal
}